@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-checkbox {
  appearance: none;
  width: 12px;
  height: 12px;
  border: 2px solid #ED712E;
  border-radius: 2px;
  background-color: white;
  cursor: pointer;
  position: relative;
  flex-shrink: 0; /* Prevent resizing */
}

.custom-checkbox:checked {
  border-color: #ED712E;
}

.custom-checkbox:checked::after {
  content: '';
  position: absolute;
  top: px;
  left: 2px;
  width: 4px;
  height: 7px;
  border: solid #ED712E;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}



.form__input:valid ~ span,
.form__input:focus ~ span {
  transform: translateY(-14px);
  font-size: .6rem;
  padding: 0 .1rem;
}